@model IEnumerable<Library.Models.BookLoan>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h4>All Loaned Books</h4>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var loan in Model)
    {
        <div class="col d-flex">
            <div class="card flex-fill shadow-sm">
                <img src="@loan.Book.CoverImageUrl" class="card-img-top" style="height:250px; object-fit:cover;" />
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@loan.Book.Title</h5>
                    <p class="card-text">@loan.Book.Author</p>
                    <p class="card-text"><strong>Borrowed by:</strong> @loan.User.FirstName @loan.User.LastName</p>
                </div>
            </div>
        </div>
    }
</div>